<form (ngSubmit)="onSubmit()" #form>
  <app-control label="Title">
    <input
      id="title"
      name="title"
      #input
      [(ngModel)]="enteredTitle"
    />
  </app-control>
  <app-control label="Request">
    <textarea
      id="request"
      name="request"
      rows="3"
      #input
      [(ngModel)]="enteredRequest"
    ></textarea>
  </app-control>
  <p>
    <button appButton>
      Submit
      <span ngProjectAs="icon">→</span>
    </button>
  </p>
</form>
